@tailwind base;
@tailwind components;
@tailwind variants;
@tailwind utilities;

.swiper-pagination {
	all: unset !important;
	display: hidden !important;
}

.swiper-button-prev {
	all: unset !important;
	display: hidden !important;
}

.swiper-button-next {
	all: unset !important;
	display: hidden !important;
}

.swiper-button-next::after,
.swiper-button-prev::after,
.swiper-pagination-fraction > *,
.swiper-pagination-fraction {
	all: unset !important;
	display: none !important;
}

@layer base {
	.loadingAnimation {
		animation: loading 5s linear;
	}
	.formSlide {
		animation: formSlide 0.3s linear forwards;
	}
	.emptyCart {
		animation: emptyCart .5s linear forwards;
	}
}

@keyframes loading {
	0% {
		width: 0%;
	}
	100% {
		width: 99%;
	}
}

@keyframes formSlide {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes emptyCart {
	from {
		transform: 0;
	}
	to {
		transform: rotate(90deg);
	}
}
